@page
@model TestPe.Pages.supplier.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SupplierCompany</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SupplierCompany.CompanyName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SupplierCompany.CompanyName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SupplierCompany.CompanyTypeDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SupplierCompany.CompanyTypeDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SupplierCompany.IsActive)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SupplierCompany.IsActive)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.SupplierCompany.SupplierId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
